


body{
	/*position: relative;*/
	/*background-image: url('../images/lambo.jpg');*/
	/*overflow:scroll;*/
	/*width: 1200px;*/

}

.navbar{
	/*position:absolu;*/

	opacity: .8;
	width: 100%;
	text-align: center;
	height: 80px;
	 display:inline-block;
    float:none;
}

#reset{
	opacity: 1 !important;
}


.navbar > h2{
	margin: auto;
}



.container-fluid{
	
	position: absolute;
	width: 100%;
	height:100%;
	
	background-image: url('../images/lambo.jpg');
	overflow: auto;
	
}

#usedwords{
	height:75px;
	width: 100px;
	border: red solid 2px;
	color: black;
	position: absolute;
	left: 24.5%;
	top: 200px;
	background-color: white;
	text-align: center;
	/*padding-top: 10px;*/
	font-size: 32px;	
}


#letter-box{
	height:75px;
	width: 500px;
	border: red solid 2px;
	color: black;
	position: absolute;
	left: 35%;
	top: 200px;
	background-color: white;
	text-align: center;
	/*padding-top: 10px;*/
	font-size: 32px;
}

#guess-count{
	height:75px;
	width: 100px;
	border: red solid 2px;
	color: black;
	position: absolute;
	left: 75%;
	top: 200px;
	background-color: white;
	text-align: center;
	/*padding-top: 10px;*/
	font-size: 32px;	
}

.div{
	display: inline-block;
	margin-left: 10px;
}