


#navbar{
	background-color: #4aaaa5;
	text-align: center;
	border:dotted black 2px;
	font-family: Jurassic Park;
}


#gamebox{
	border: black dotted 2px;
	background-color: yellow;
	height: 700px;
	text-align: center;
	font-size: 35px;
	font-family: Jurassic Park;

}

#winlose{
    border: black dotted 2px;
	background-color: yellow;
	height: 80px;
	margin-top: 100px;
	font-family: Jurassic Park;
	font-size:35px;

}



#guess-array{
	border: black dotted 2px;
	background-color: yellow;
	height: 80px;
	margin-top: 20px;
	font-family: Jurassic Park;
	font-size: 35px;
}

#guess-count{
    border: black dotted 2px;
	background-color: yellow;
	height: 120px;
	margin-top: 20px;
	text-align: center;
	font-size: 35px;
	font-family: Jurassic Park;
}

#guessed-letters{
	 border: black dotted 2px;
	background-color: yellow;
	height: 120px;
	margin-top: 20px;
	text-align: center;
	font-size: 35px;
	font-family: Jurassic Park;
}